/*
 * Copyright (c) 2025 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define FUNC 1
#define RES 2
#define BOT bootloader

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };
    };
    behaviors {
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&to RES>, <&loginpwd>;
        };
    };
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&kp &kp>;
        };
    };
    behaviors {
        clickctrl: clickctrl_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            bindings = <&kp &mkp>;
        };
    };
    behaviors {
        moback: moback_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            bindings = <&mo &mkp>;
        };
    };

    behaviors {
         sp_sc: behavior_spacescroll {
           compatible = "zmk,behavior-hold-tap";
           #binding-cells = <2>;
           flavor = "tap-preferred";     /* 单击优先 */
           tapping-term-ms = <200>;       /* 长按阈值 */
           bindings = <&none &kp>;        /* hold=none, tap=space */
        };
    };

    behaviors {
        BLE_encoder: BLE_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&bt BT_NXT>, <&bt BT_PRV>;
        };
    };

    behaviors {
        rotate_updown: rotate_updown {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&toscrolldown>, <&toscrollup>;
        };
    };

    behaviors {
        rotate_leftright: rotate_leftright {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&toscrollleft>, <&toscrollright>;
        };
    };

    macros {
        //关闭app1
        tocloseapp1: zed_em_closeapp1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp E>,<&macro_release &kp F4>;
        }; 
        //关闭app2
        tocloseapp2: zed_em_closeapp2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp R>,<&macro_release &kp F4>;
        }; 
        //关闭app3
        tocloseapp3: zed_em_closeapp3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp D>,<&macro_release &kp F4>;
        }; 
        //关闭app4
        tocloseapp4: zed_em_closeapp4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp F>,<&macro_release &kp F4>;
        }; 
        //关闭app5
        tocloseapp5: zed_em_closeapp5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp W>,<&macro_release &kp F4>;
        }; 
        //关闭app6
        tocloseapp6: zed_em_closeapp6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp S>,<&macro_release &kp F4>;
        }; 
        //打开appT
        toopenappT: zed_em_toopenappT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp T>,<&macro_release &kp F3>;
        }; 
        //打开appY
        toopenappY: zed_em_toopenappY {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp Y>,<&macro_release &kp F3>;
        };
        //打开appU
        toopenappU: zed_em_toopenappU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp U>,<&macro_release &kp F3>;
        };
        //打开appX
        toopenappX: zed_em_toopenappX {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp X>,<&macro_release &kp F3>;
        };
        //打开appZ
        toopenappZ: zed_em_toopenappZ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp Z>,<&macro_release &kp F3>;
        };
        //打开appC
        toopenappC: zed_em_toopenappC {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp C>,<&macro_release &kp F3>;
        };
        //打开appG
        toopenappG: zed_em_toopenappG {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp G>,<&macro_release &kp F3>;
        };
        //打开appV
        toopenappV: zed_em_toopenappV {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp V>,<&macro_release &kp F3>;
        };
        //打开appH
        toopenappH: zed_em_toopenappH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp H>,<&macro_release &kp F3>;
        };
        //打开appB
        toopenappB: zed_em_toopenappB {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp B>,<&macro_release &kp F3>;
        };
        //打开appJ
        toopenappJ: zed_em_toopenappJ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp J>,<&macro_release &kp F3>;
        };
        //打开appN
        toopenappN: zed_em_toopenappN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp N>,<&macro_release &kp F3>;
        };
        //打开appI
        toopenappI: zed_em_toopenappI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp I>,<&macro_release &kp F3>;
        };
        //打开appM
        toopenappM: zed_em_toopenappM {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp M>,<&macro_release &kp F3>;
        };
        //打开appP
        toopenappP: zed_em_toopenappP {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp P>,<&macro_release &kp F3>;
        };
        //打开appO
        toopenappO: zed_em_toopenappO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp O>,<&macro_release &kp F3>;
        };
        //打开appK
        toopenappK: zed_em_toopenappK {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp K>,<&macro_release &kp F3>;
        };
        //打开appL
        toopenappL: zed_em_toopenappL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp L>,<&macro_release &kp F3>;
        };
        //打开appE
        toopenappE: zed_em_toopenappE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp E>,<&macro_release &kp F3>;
        };
        //打开appR
        toopenappR: zed_em_toopenappR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp R>,<&macro_release &kp F3>;
        };
        //打开appD
        toopenappD: zed_em_toopenappD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp D>,<&macro_release &kp F3>;
        };
        //打开appF
        toopenappF: zed_em_toopenappF {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp F>,<&macro_release &kp F3>;
        };
        //手机解锁
        loginpwd: macros_loginpwd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp ENTER &kp SPACE &kp N0 &kp N9 &kp N1 &kp N1 &kp ENTER &to RES>;
        };
        //向上滑动
        toscrollup: zed_em_toscrollup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F3>,<&macro_tap &kp SPACE>,<&macro_release &kp F3>;
        };
        //向下滑动
        toscrolldown: zed_em_toscrolldown {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp SPACE>,<&macro_release &kp F4>;
        };
        //向左滑动
        toscrollleft: zed_em_toscrollleft {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F1>,<&macro_tap &kp SPACE>,<&macro_release &kp F1>;
        };
        //向右滑动
        toscrollright: zed_em_toscrollright {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F2>,<&macro_tap &kp SPACE>,<&macro_release &kp F2>;
        };
        //点击第一栏
        totapfirst: zed_em_totapfirst {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F8>,<&macro_tap &kp SPACE>,<&macro_release &kp F8>;
        };
        //点击第二栏
        totapsecond: zed_em_totapsecond {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F10>,<&macro_tap &kp SPACE>,<&macro_release &kp F10>;
        };
        //点击第三栏
        totapthird: zed_em_totapthird {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F9>,<&macro_tap &kp SPACE>,<&macro_release &kp F9>;
        };
        //点击第四栏
        totapforth: zed_em_totapforth {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F11>,<&macro_tap &kp SPACE>,<&macro_release &kp F11>;
        };
        //读微信最新的信息
        toreadwxmsg: zed_em_toreadwxmsg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F5>,<&macro_tap &kp SPACE>,<&macro_release &kp F5>;
        };
        //读微信群更多的信息
        toreadmorewxmsg: zed_em_toreadmorewxmsg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F6>,<&macro_tap &kp SPACE>,<&macro_release &kp F6>;
        };
        //下拉控制栏
        torolltoolpanel: zed_em_torolltoolpanel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F7>,<&macro_tap &kp SPACE>,<&macro_release &kp F7>;
        };
        //下拉通知栏
        torollmsgpanel: zed_em_torollmsgpanel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F12>,<&macro_tap &kp SPACE>,<&macro_release &kp F12>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

         default_layer {
            display-name = "QWERTY";
           bindings = <     
&kp ESC   &kp N1   &kp N2     &kp N3   &kp N4    &kp N5          &td1                         &clickctrl K_BACK LCLK      &kp N6             &kp N7      &kp N8    &kp N9    &kp N0   &kp SQT               
&kp TAB   &kp Q    &kp W      &kp E    &kp R     &kp T                                                                    &kp Y              &kp U       &kp I     &kp O     &kp P    &kp BSPC
&kp CAPS  &kp A    &kp S      &kp D    &kp F     &kp G           &mkp LCLK                    &mkp LCLK                   &kp H              &kp J       &kp K     &kp L     &kp SEMI &kp ENTER
&kp LSHFT &kp Z    &kp X      &kp C    &kp V     &kp B           &kp PG_DN  &kp PG_UP         &mkp LCLK   &mkp RCLK       &kp N              &kp M       &kp COMMA &kp DOT   &kp FSLH &kp RSHFT
                   &kp LCTRL  &kp LALT &kp LGUI  &kp SPACE       &moback 1 LCLK               &moback 1 LCLK  &kp SPACE   &kp LGUI  &kp RALT  &kp RCTRL
           >;
           sensor-bindings = <&rotate_leftright &rotate_updown>;
        };


        func_layer {
            display-name = "FUNC";
            bindings = <
&kp GRAVE &kp F1    &kp F2     &kp F3    &kp F4   &kp F5           &bt BT_NXT                   &bt BT_PRV             &kp F6    &kp F7       &kp F8     &kp F9    &kp F10     &kp PLUS            
&trans    &trans    &kp UP     &trans    &trans   &trans                                                               &trans    &trans       &trans     &kp UP    &trans      &kp MINUS
&trans    &kp LEFT  &kp DOWN   &kp RIGHT &trans   &trans           &mkp RCLK                    &mkp RCLK              &trans    &trans       &kp LEFT   &kp DOWN  &kp RIGHT   &kp UNDER
&trans    &trans    &trans     &trans    &trans   &rgb_ug RGB_TOG  &kp C_VOL_UP &kp C_VOL_DN    &bl BL_DEC  &bl BL_INC &trans    &trans       &trans     &trans    &trans      &kp DEL
                    &BOT       &trans    &trans   &kp K_BACK       &mo 1                        &mo 1     &kp K_BACK   &trans     &trans    &BOT 
            >;
            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
        };

        RES_layer {
            display-name = "RESERVE";
            bindings = <
&kp ESC               &totapfirst     &totapsecond      &totapthird    &totapforth           &none         &to DEFAULT                  &none                    &tocloseapp1       &tocloseapp2        &tocloseapp3      &tocloseapp4   &tocloseapp5    &tocloseapp6              
&torolltoolpanel      &none           &none             &toopenappE    &toopenappR           &toopenappT                                                         &toopenappY        &none               &toopenappI       &none          &none           &none
&torollmsgpanel       &none           &none             &none          &none                 &none         &mkp RCLK                    &mkp RCLK                &none              &toopenappJ         &none             &none          &none           &none
&none                 &toopenappZ     &toopenappX       &none          &toreadmorewxmsg      &toreadwxmsg  &none   &none                &none  &none             &toreadwxmsg       &toreadmorewxmsg    &none             &none          &none           &none
                                                        &none          &toscrollup           &toscrolldown &kp K_BACK    &mkp LCLK      &mkp LCLK  &kp K_BACK    &toscrolldown      &toscrollup  &none
            >;
        };
    };
};
